@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
}
/* Estilo para el encabezado principal */
h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Estilo para los encabezados secundarios */
h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

/* Estilo para los campos de entrada */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="date"],
select {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  font-size: 1rem;
  width: 100%;
}

/* Estilo para los botones */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
}

/* Estilo para la tabla de carreras */
table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}